$body-bg: #16272d;
$popup-bg: #2a2a2a;
$header-bg: #5c686c;
$primary-font: #2be9c8;
$secondary-bg: #eef6f7;
$white: #ffffff;
$proceed-bg: #309136;
$view-bg: #913030;

$font-primary: "Bookmania", sans-serif;
$font-secondary: "Basic Sans", sans-serif;